@using Calculator.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        .calc {
            margin: 50px auto;
            padding: 15px;
            width: 223px;
            border: 1px solid #222;
            border-radius: 4px;
            background-color: #3d4543;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d4543), color-stop(100%, #2f2a2f));
            background-image: -webkit-linear-gradient(top, #3d4543, #2f2a2f);
            background-image: -moz-linear-gradient(top, #3d4543, #2f2a2f);
            background-image: -ms-linear-gradient(top, #3d4543, #2f2a2f);
            background-image: -o-linear-gradient(top, #3d4543, #2f2a2f);
            background-image: linear-gradient(top, #3d4543, #2f2a2f);
            -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.5);
        }

        .calc-display {
            margin: 0 0 20px;
            padding: 3px;
            background: #222;
            border-radius: 3px;
            -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.08);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.08);
        }

        .calc-display-input {
            display: block;
            width: 93%;
            padding: 0 8px;
            font: 26px/35px UbuntuMono, monospace;
            color: #444;
            height: 35px;
            text-align: right;
            background-clip: padding-box;
            /* Don't let the background bleed outside the border */
            border: 1px solid #222;
            border-radius: 2px;
            background-color: #bccd95;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bccd95), color-stop(100%, #e0f5b1));
            background-image: -webkit-linear-gradient(top, #bccd95, #e0f5b1);
            background-image: -moz-linear-gradient(top, #bccd95, #e0f5b1);
            background-image: -ms-linear-gradient(top, #bccd95, #e0f5b1);
            background-image: -o-linear-gradient(top, #bccd95, #e0f5b1);
            background-image: linear-gradient(top, #bccd95, #e0f5b1);
            -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.12);
            box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.12);
        }

        .calc-row {
            margin-top: 7px;
            zoom: 1;
        }

            .calc-row:before, .calc-row:after {
                content: "";
                display: table;
            }

            .calc-row:after {
                clear: both;
            }

        .calc-button {
            float: left;
            padding: 0;
            margin: 0 0 0 7px;
            width: 39px;
            font: 14px/23px UbuntuMono, monospace;
            color: white;
            text-align: center;
            text-shadow: 0 1px rgba(0, 0, 0, 0.4);
            text-decoration: none;
            background-clip: padding-box !important;
            /* !important because FF overrides the value on :active */
            border: 0;
            /* IE 8 fix */
            border: 1px solid rgba(0, 0, 0, 0.8);
            border-radius: 3px;
            cursor: pointer;
            background-color: #313131;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #313131), color-stop(100%, #1c1c1c));
            background-image: -webkit-linear-gradient(top, #313131, #1c1c1c);
            background-image: -moz-linear-gradient(top, #313131, #1c1c1c);
            background-image: -ms-linear-gradient(top, #313131, #1c1c1c);
            background-image: -o-linear-gradient(top, #313131, #1c1c1c);
            background-image: linear-gradient(top, #313131, #1c1c1c);
            -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.08);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.08);
        }

            .calc-button:first-child {
                margin-left: 0;
            }

            .calc-button:active {
                background: #282828;
                -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
            }

        .calc-button-gray {
            background-color: #6f6f6f;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f6f6f), color-stop(100%, #515151));
            background-image: -webkit-linear-gradient(top, #6f6f6f, #515151);
            background-image: -moz-linear-gradient(top, #6f6f6f, #515151);
            background-image: -ms-linear-gradient(top, #6f6f6f, #515151);
            background-image: -o-linear-gradient(top, #6f6f6f, #515151);
            background-image: linear-gradient(top, #6f6f6f, #515151);
        }

            .calc-button-gray:active {
                background: #555;
            }

        .calc-button-red {
            background-color: #ff4561;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7286), color-stop(100%, #ff4561));
            background-image: -webkit-linear-gradient(top, #ff7286, #ff4561);
            background-image: -moz-linear-gradient(top, #ff7286, #ff4561);
            background-image: -ms-linear-gradient(top, #ff7286, #ff4561);
            background-image: -o-linear-gradient(top, #ff7286, #ff4561);
            background-image: linear-gradient(top, #ff7286, #ff4561);
        }

            .calc-button-red:active {
                background: #ff4561;
            }

        .calc-button-yellow {
            background-color: #ffa70c;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb935), color-stop(100%, #ffa70c));
            background-image: -webkit-linear-gradient(top, #ffb935, #ffa70c);
            background-image: -moz-linear-gradient(top, #ffb935, #ffa70c);
            background-image: -ms-linear-gradient(top, #ffb935, #ffa70c);
            background-image: -o-linear-gradient(top, #ffb935, #ffa70c);
            background-image: linear-gradient(top, #ffb935, #ffa70c);
        }

            .calc-button-yellow:active {
                background: #ffa70c;
            }
        .calc-button-big {
            font-size: 16px;
        }
    </style>

</head>
<body>
    <audio src="~/Sounds/0.mp3" id="0"></audio>
    <audio src="~/Sounds/1.mp3" id="1"></audio>
    <audio src="~/Sounds/2.mp3" id="2"></audio>
    <audio src="~/Sounds/3.mp3" id="3"></audio>
    <audio src="~/Sounds/4.mp3" id="4"></audio>
    <audio src="~/Sounds/5.mp3" id="5"></audio>
    <audio src="~/Sounds/6.mp3" id="6"></audio>
    <audio src="~/Sounds/7.mp3" id="7"></audio>
    <audio src="~/Sounds/8.mp3" id="8"></audio>
    <audio src="~/Sounds/9.mp3" id="9"></audio>
    <audio src="~/Sounds/Sum.mp3" id="Sum"></audio>
    <audio src="~/Sounds/DegreeY.mp3" id="DegreeY"></audio>
    <audio src="~/Sounds/Division.mp3" id="Division"></audio>
    <audio src="~/Sounds/Multiplication.mp3" id="Multiplication"></audio>
    <audio src="~/Sounds/Sqrt.mp3" id="Sqrt"></audio>
    <audio src="~/Sounds/SqrtX.mp3" id="SqrtX"></audio>
    <audio src="~/Sounds/Square.mp3" id="Square"></audio>
    <audio src="~/Sounds/Subtraction.mp3" id="Subtraction"></audio>
    <audio src="~/Sounds/Clear.mp3" id="Clear"></audio>
    <audio src="~/Sounds/Equally.mp3" id="Equally"></audio>

    <script type="text/javascript">
        var A;
        var Operation;

        function ClickA(operation) {
            A = document.getElementById("answer").value;
            Operation = operation;
            answer.value = '';
        }

        function Clear() {
            answer.value = '';
            A = 0;
            B = 0;
            Operation = 'Default';
        }

        function Calculate() {
            location.href = '@Url.Action("Calculate", "Calc")' + '?a=' + A + '&b=' + document.getElementById("answer").value + '&operation=' + Operation;
        }

        function CalculateSqrt() {
            location.href = '@Url.Action("Sqrt", "Calc")' + '?a=' + document.getElementById("answer").value;
        }

        function CalculateSquare() {
            location.href = '@Url.Action("Square", "Calc")' + '?a=' + document.getElementById("answer").value;
        }
        function soundClick(operation) {
            audio = document.getElementById(operation);
            audio.play();
        }
    </script>

    <div class="calc" id='calc-contain'>
        <p class="calc-display">
            <input type="text" name="answer" id="answer" value="@ViewBag.CalculateValue" class="calc-display-input" onfocus="this.blur()">
        </p>
        <div class="keys">
            <p class="calc-row">
                <input type="button" class="calc-button" value="1" onclick="answer.value += '1'" onmouseover="soundClick('1')" />
                <input type="button" class="calc-button" value="2" onclick="answer.value += '2'" onmouseover="soundClick('2')" />
                <input type="button" class="calc-button" value="3" onclick="answer.value += '3'" onmouseover="soundClick('3')" />
                <input type="button" class="calc-button calc-button-red calc-button-big" value="+" onclick="ClickA('Sum');" onmouseover="soundClick('Sum')" />
                <input type="button" class="calc-button calc-button-red calc-button-big" value="x^2" onclick="CalculateSquare();" onmouseover="soundClick('Square')" />
            </p>

            <p class="calc-row">
                <input type="button" class="calc-button" value="4" onclick="answer.value += '4'" onmouseover="soundClick('4')" />
                <input type="button" class="calc-button" value="5" onclick="answer.value += '5'" onmouseover="soundClick('5')" />
                <input type="button" class="calc-button" value="6" onclick="answer.value += '6'" onmouseover="soundClick('6')" />
                <input type="button" class="calc-button calc-button-red calc-button-big" value="-" onclick="ClickA('Subtraction');" onmouseover="soundClick('Subtraction')" />
                <input type="button" class="calc-button calc-button-red calc-button-big" value="√" onclick="CalculateSqrt();" onmouseover="soundClick('Sqrt')" />
            </p>

            <p class="calc-row">
                <input type="button" class="calc-button" value="7" onclick="answer.value += '7'" onmouseover="soundClick('7')" />
                <input type="button" class="calc-button" value="8" onclick="answer.value += '8'" onmouseover="soundClick('8')" />
                <input type="button" class="calc-button" value="9" onclick="answer.value += '9'" onmouseover="soundClick('9')" />
                <input type="button" class="calc-button calc-button-red calc-button-big" value="*" onclick="ClickA('Multiplication');" onmouseover="soundClick('Multiplication')" />
                <input type="button" class="calc-button calc-button-red calc-button-big" value="x^y" onclick="ClickA('DegreeY');" onmouseover="soundClick('DegreeY')" />
            </p>

            <p class="calc-row">
                <input type="button" class="calc-button" value="c" onclick="Clear();" onmouseover="soundClick('Clear')" />
                <input type="button" class="calc-button" value="0" onclick="answer.value += '0'" onmouseover="soundClick('0')" />
                <input type="button" class="calc-button calc-button-yellow calc-button-big" value="=" onclick="Calculate();" onmouseover="soundClick('Equally')" />
                <input type="button" class="calc-button calc-button-red calc-button-big" value="÷" onclick="ClickA('Division');" onmouseover="soundClick('Division')" />
                <input type="button" class="calc-button calc-button-red calc-button-big" value="y√x" onclick="ClickA('SqrtX');" onmouseover="soundClick('SqrtX')" />
            </p>
        </div>
    </div>
</body>

</html>
